<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p %d{HH:mm:ss,SSS} [%t] (%F) - %m%n"/>
		</layout>
	</appender>
	<appender name="DebugFileAppender" class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="debug.log" />
		<param name="append" value="false" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p %d [%t] (%F:%L) - %m%n"/>
		</layout>
	</appender>
	<logger name="com.Server">
		<level value="info" />
		<appender-ref ref="DebugFileAppender" />
	</logger>
	<root>
		<priority value="info"/>
		<appender-ref ref="ConsoleAppender"/>

	</root>
</log4j:configuration>

