.menu_container{
	position:absolute;
	top:0px;
	right:0px;
}
.menu_item_container{
	height:50px;
}
.menu_item:link, .menu_item:visited{
	height:50px;
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:#333;
	display:inline-block;
	padding-left:10px;
	padding-right:10px;
	color:#fff;
	background-color:#666;
	background-image:url('images/backgrounds/title_bar_50px.png');
	text-decoration:none;
	font-weight:bold;
}
.menu_item:hover{
	background-color:#000;
	color:#fff;
}
.menu_label{
	height:50px;
	line-height:50px;
	display:inline-block;
}