body {
	margin:0px;
	padding:0px;
	background-image:url('images/backgrounds/bk.png');
	font-family: Arial, Helvetica, sans-serif;
}
h2 {
	margin:0px;
	padding:10px;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#aaa;
	
}
.main_content{
	width:800px;
	margin:auto auto;
	background-color:#fff;
	border-radius:5px;
	border-width:1px;
	border-style:solid;
	border-color:#aaa;
	margin-top:10px;
}